<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paytm merchant payment page </title>
</head>
<body>
 <center>
         <h1>Please do not refresh this page...</h1>
      </center>
      <form method="post" action="https://securegw-stage.paytm.in/order/process" name="paytm">
      {% for key,value in param_dict.items %}
          <input type="hidden" name="{{key}}" value="{{value}}">
         {% endfor %}
         <script type="text/javascript">
            document.paytm.submit();
         </script>
      </form>
</body>
</html>